<!DOCTYPE html>
<html data-ng-app="FMLApp">
<head>
    <title>Locate Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS Geolocation With HTML5">
    <meta name="author" content="PC">
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>
        html, body, #map-canvas {
            height: 80%;
            width: 100%;
            margin: 0px;
            padding: 0px
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body data-ng-controller="FMLCtrl">
    <h3>FML</h3>
    <div id="map-canvas"></div>

    <div ng-hide="supportsGeo">
        Your browser doesn't support geolocation
    </div>
    <br/>
    <div ng-show="supportsGeo" class="btn-group btn-group-lg">
        <input ng-model="address" id="search_address" placeholder="Enter your address" type="text" class="form-control"></input>
        <br/>
        <div class="alert alert-danger" ng-show="error">
            <strong>Error: </strong><span ng-bind="error"></span>
        </div>
        <button type="button" class="btn btn-primary" ng-click="FindPosition()">
            Find My Location
        </button>
        <button type="button" class="btn btn-primary" ng-click="PostPosition()">
            Post Address Location
        </button>
        <button type="button" class="btn btn-primary" ng-click="ClearPosition()">
            Clear Location
        </button>
    </div>

    <!-- DEBUG -->
    <div ng-show="debug">
        <pre ng-bind="debug|json"/>
    </div>
</body>

<footer>
    <script src="../javascript/app.js"></script>
    <script src="../javascript/controllers.js"></script>
</footer>

</html>